[Unit]
Name=MiNiFi agent

[Service]
User=pi
Type=onehot
RemainAfterExit=yes
ExecStart=/home/pi/minifi-1090/minifi-0.0.1/bin/minifi.sh start

[Install]
WantedBy=multi-user.target
